.home__lines{
  z-index: 100;
  background-size: auto auto;
  background-image: repeating-linear-gradient(
    90deg, 
    transparent 0%, 
    transparent 16.55%, 
    rgb(216, 216, 216) 16.6%, 
    rgb(216, 216, 216) 16.65%);
    // Mdium phone 25
    // Smallest phone 50
}