.bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  right: 4.5rem;
  padding-top: 2rem;
  flex-direction: column;
  height: calc(100% - 8rem);

  &__item {
    align-self: flex-end;
    &__dropdown {
      cursor: pointer;
    }
    &__wrap {
      display: flex;
      &__icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1.5rem; 
        fill: transparent;
      }
    }
    &__text {
    padding-bottom: 1rem;
    box-sizing: border-box;
    }
  }
}

.text__wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media only screen and (max-width: 425px) {
 .bar{
    right: 2.5rem;
    height: 95%;
  }
  .bar__item__wrap__icon {
    width: 3rem;
  }
}