.topbar {
  z-index: 10;
  margin-right: 5rem;
  position: sticky;
  top: 0;
  background-color: $color-primary;
  padding-top: 2rem;
  
  &__wrapper{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
  }

  &__left {
  }
  
  &__right {
    &__item {
      padding-right: 1.5rem;
      opacity: .7;
    }
  }
}