.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
  padding-left: 1rem;
  
  &__right {
    &__item {
      padding-right: 1.5rem;
      opacity: .7;
    }
  }
}