*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10/16 = 62.5%
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    &:focus, &:active{
      outline: none;
    }
}

#app {
  box-sizing: border-box;
  font-family: 'Lato';
  overflow: hidden;
}

.wrapper{ 
  padding: 2rem;
  background-color: black;
  height: 100vh;
}
  
::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (max-width: 425px) {
  .wrapper{ 
    padding: 0;
  }
}