$color-primary: #eee;
$color-black: #000;
$color-black-light: rgb(56, 56, 56);

$gradient-primary: #A5A5A5;
$gradient-secondary: #BA9090;
$gradient-base: #C4C4C4;

$size-hedding: 3.4rem;
$size-text: 1.6rem;